/* HW4 Star Wars RPG */
.mainContainer {
    width: 700px;
    margin: 10px auto;
}
.selector-for-some-widget {
    box-sizing: content-box;
}
#titleBtn {
    background-color: rgba(255, 98, 0, 0.673);
}
#messageBtn1, #messageBtn2, #messageBtn3 {
    width: 32.9%;
    margin: 10px auto;
}
.card-header, .card-footer {
    text-align: center;
    background-color: rgb(187, 195, 199);
}
img {
    width: 100%;
}
#characterBank {
    margin: 10px auto;
}
#characterBank {
    opacity: 0.95;
}
#statusBox {
    background-color: rgb(98, 166, 199);
    opacity: 0.7;
}
#winLabel, #win {
    color: blue;
}
#loseLabel, #lose {
    color: red;
}
#gameStatusMessage {
    color: red;
    font-size: 2.5rem;
    text-align: center;
}
